---
layout: layout.njk
title: Page Not Found
permalink: /404.html
description: The page you're looking for doesn't exist.
---

<section class="error-page">
  <div class="wrap">
    <h1>404</h1>
    <p>We couldn't find that page.</p>
    <a class="btn btn--red" href="{{ '/' | url }}">Back to Home</a>
  </div>
</section>
